body{
	margin: 0;
	padding: 0;
	color: rgb(220, 220, 220);
	background-color: #313445;
	font-family: 'Roboto', sans-serif;
}

#navBar{
	padding: 10px;
}#questionNumberContainer{
	text-align: center;
	width: 200px;
	margin-left: 50px;
}

.answerContainer{
	text-align: center;
	width: 50%;
	height: 600px;
	justify-content: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}.question{
	margin-bottom: 50px;
}

.option{
	box-shadow: 0 12px 24px -20px #000;
	padding: 20px 0;
	height: 30px;
	margin: auto;
	margin-top: 25px;
	background-color: #434861;
	border-radius: 10px;
}.option:hover{
	background-color: #4062F6;
}

.container{
	display: inline-block;
	text-align: center;
	border-radius: 1px;
}

#homeButton{
	float: left;
	box-shadow: 0 12px 24px -20px #000;
}#homeButton:hover{
	background-color: #4062F6;
}

.button{
	text-align: center;
	padding: 5px;
	width: 15%;
	margin: auto;
	margin-top: 25px;
	background-color: #434861;
	border-radius: 10px;
}#nextButton{
	box-shadow: 0 12px 24px -20px #000;
	float: right;
}

circle{
	box-shadow: 0 12px 24px -20px #000;
	transition: all 1s linear;
}

#c1{
	box-shadow: 0 12px 24px -20px #000;
	transition: all 1s linear;
	stroke: #434861;
	stroke-width: 3;
	stroke-linecap: round;
	fill: transparent;
}#c2 {
	box-shadow: 0 12px 24px -20px #000;
	transition: all 1s linear;
	stroke: #4062F6;
	stroke-width: 3;
	stroke-linecap: round;
	fill: transparent;
}#counterText {
	fill: rgb(220, 220, 220);
	-webkit-animation: heartBeat 1s infinite;
	animation: heartBeat 1s infinite;
}

#points{
	fill: rgb(220, 220, 220);
}.circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 200px;
	max-height: 200px;
}.circle {
	stroke: #7940F6;
	fill: none;
	stroke-width: 3;
	stroke-linecap: round;
	animation: progress 1s ease-in backwards;
}.circle2{
	stroke: #434861;
	fill: transparent;
	stroke-width: 3;
	stroke-linecap: round;
	animation: progress 1s ease-in backwards;
}@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}#accuracyCounter{
	stroke: #4CC790;
}

#accuracyText{
	fill: rgb(220, 220, 220);
}#progressBars{
	float: right;
	margin-top: 2.34rem;
	margin-right: 60px;
	width: 200px;
}#accuracyBars{
	float: left;
	text-align: center;
	margin-top: 2.34rem;
	margin-left: 60px;
	width: 200px;
}

#correctCountChange{
	visibility: hidden;
	animation: none;
	color: #4CC790;
	position: absolute;
	margin-top: 23.3rem;
	margin-left: 14rem;
}#correct{
	animation: none;
}#incorrectCountChange{
	visibility: hidden;
	animation: none;
	color: #fa2c2c;
	position: absolute;
	margin-top: 29.5rem;
	margin-left: 14rem;
}#incorrect{
	animation: none;
}.score{
	position: absolute;
	margin-top: -4rem;
	margin-left: 83.5%;
}#increaseScore{
	visibility: hidden;
	color: #7940F6;
	animation: none;
}#decreaseScore{
	visibility: hidden;
	color: #fa2c2c;
	animation: none;
}

@keyframes fade{
	0%{
    	opacity:0;
	}
	25%{
    	opacity:1;
	}
  	100%{
    	opacity:0;
  	}
}

@keyframes toGreen{
	0%{
    	color: rgb(220, 220, 220);
	}
	25%{
    	color: #4CC790;
	}
  	100%{
    	color: rgb(220, 220, 220);
  	}
}

@keyframes toRed{
	0%{
    	color: rgb(220, 220, 220);
	}
	25%{
    	color: #fa2c2c;
	}
  	100%{
    	color: rgb(220, 220, 220);
  	}
}

@keyframes toPurple{
	0%{
    	fill: rgb(220, 220, 220);
	}
	25%{
    	fill: #7940F6;
	}
  	100%{
    	fill: rgb(220, 220, 220);
  	}
}

@keyframes toRedFill{
	0%{
    	fill: rgb(220, 220, 220);
	}
	25%{
    	fill: #fa2c2c;
	}
  	100%{
    	fill: rgb(220, 220, 220);
  	}
}



/*Braxtons css --subject to change */
.section-heading {
	text-align:center;
	color:#102C4E;
	margin-top: 150px;
	margin-bottom:70px;
	font-size: 35px;
  }

  .bigger-box {
	float: left;
	width: 82%;
	padding: 10px;
	margin:20px;
	height: 100px;
  }

  .box {
	float: left;
	width: 12%;
	padding: 10px;
	margin:20px;
	height: 100px;
  }

  .box-color {
	background-color:#112d4e;
  }