<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'quizApp/CSS/style.css' %}" type="text/css"/>
    <title>Quiz</title>
</head>
<body>
    <form action="{% url 'questionPage'  %}" method="post" class="container">
        {% csrf_token %}
        <!-- <p class="section-heading">Categories</p> -->
        <input type="text" name="categories" id="categories" class="">
        <input type="text" id="difficulty" name="difficulty" value="test">
        <input type="text" id="length" name="length" value="test">

        <div id="categoryDiv">
            <h1>Categories</h1>
            <div class="bigger-box box-color" value="all" id="all" onclick="select(event)">All Categories</div>
            <div class="box box-color" value="arts_and_literature" id="arts_and_literature" onclick="select(event)">Arts and Literature</div>
            <div class="box box-color" value="film_and_tv" id="film_and_tv" onclick="select(event)">Film and TV</div>
            <div class="box box-color" value="food_and_drink" id="food_and_drink" onclick="select(event)">Food and Drink</div>
            <div class="box box-color" value="general_knowledge" id="general_knowledge" onclick="select(event)">General Knowledge</div>
            <div class="box box-color" value="geography" id="geography" onclick="select(event)">Geography</div>
            <div class="box box-color" value="history" id="history" onclick="select(event)">History</div>
            <div class="box box-color" value="music" id="music" onclick="select(event)">Music</div>
            <div class="box box-color" value="science" id="science" onclick="select(event)">Science</div>
            <div class="box box-color" value="society_and_culture" id="society_and_culture" onclick="select(event)">Society and Culture</div>
            <div class="box box-color" value="sport_and_leisure" id="sport_and_leisure" onclick="select(event)">Sport and Leisure</div>
        </div>

        <div id="difficultyDiv" >
            <h1>Difficulty</h1>
            <div value="easy" id="easy" onclick="select(event)">Easy</div>
            <div value="medium" id="medium" onclick="select(event)">Medium</div>
            <div value="hard" id="hard" onclick="select(event)">Hard</div>
        </div>

        <div id="lengthDiv">
            <h1>Quiz Length</h1>
            <div value="5" id="5" onclick="select(event)">5</div>
            <div value="7" id="7" onclick="select(event)">7</div>
            <div value="10" id="10" onclick="select(event)">10</div>
        </div>

        <div id="nextButton" class="button" onclick="next(event)">
            <p id="nextButtonText">Next</p>
        </div>
        <input class="button" type="submit" value="Submit" style="width: 100px; height: 50px; padding: 20px" id="begin" onclick="submit(event)">
    </form>
        
    
    <script>
        let themeBlue = "#4062F6";
        let themeGrey = '#434861';
        let selected; // selected represents the id of the selected answer
        let currentPage = 0;
        let sections = ["categories", "difficulty", "length"]
        console.log("the page loaded");

        function select(event){  
            if(selected !== undefined){
                document.getElementById(selected).style.backgroundColor = themeGrey;
            }
            selected = event.target.id; 
            event.currentTarget.style.backgroundColor = themeBlue;    
            document.getElementById(sections[currentPage]).value = selected;
            // nextButton.style.backgroundColor = themeBlue;
        }

        function next(event){
            if(currentPage <= 2){
                currentPage++;
            }
        }

    </script>
</body>
</html>
