<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'quizApp/CSS/index.css' %}" type="text/css"/>
    <title>Quiz</title>
</head>
<body>
    <form action="{% url 'questionPage'  %}" method="post">
        {% csrf_token %}
        <!-- <p class="section-heading">Categories</p> -->
        <input type="text" name="categories" id="categories" style="visibility: hidden;">
        <input type="text" id="categoryName" name="categoryName" style="visibility: hidden;">
        <input type="text" id="difficulty" name="difficulty" style="visibility: hidden;">
        <input type="text" id="length" name="length" style="visibility: hidden;">

        <div id="categoryDiv" style="visibility: visible;">
            <h1 class="title">Choose a Category</h1>
            <div  class="grid">
                <div class="box box-color" value="all" id="all" onclick="select(event)">All Categories</div>
                <div class="box box-color" value="arts_and_literature" id="arts_and_literature" onclick="select(event)">Arts and Literature</div>
                <div class="box box-color" value="film_and_tv" id="film_and_tv" onclick="select(event)">Film and TV</div>
                <div class="box box-color" value="food_and_drink" id="food_and_drink" onclick="select(event)">Food and Drink</div>
                <div class="box box-color" value="general_knowledge" id="general_knowledge" onclick="select(event)">General Knowledge</div>
                <div class="box box-color" value="geography" id="geography" onclick="select(event)">Geography</div>
                <div class="box box-color" value="history" id="history" onclick="select(event)">History</div>
                <div class="box box-color" value="music" id="music" onclick="select(event)">Music</div>
                <div class="box box-color" value="science" id="science" onclick="select(event)">Science</div>
                <div class="box box-color" value="society_and_culture" id="society_and_culture" onclick="select(event)">Society and Culture</div>
                <div class="box box-color" value="sport_and_leisure" id="sport_and_leisure" onclick="select(event)">Sport and Leisure</div>
                <div class="box box-color" value="random" id="random" onclick="select(event)">Random</div>
            </div>
        </div>
        
        <div id="difficultyDiv" style="visibility: hidden;">
            <h1 class="title"> Choose a Difficulty</h1>
            <div class="grid lessItems">
                <div class="box largeBox" value="easy" id="easy" onclick="select(event)">Easy</div>
                <div class="box largeBox" value="medium" id="medium" onclick="select(event)">Medium</div>
                <div class="box largeBox" value="hard" id="hard" onclick="select(event)">Hard</div>
            </div>
            
        </div>

        <div id="lengthDiv" style="visibility: hidden; ">
            <h1 class="title">Choose a Quiz Length</h1>
            <div class="grid lessItems">
                <div class="box largeBox" value="5" id="5" onclick="select(event)">5</div>
                <div class="box largeBox" value="7" id="7" onclick="select(event)">7</div>
                <div class="box largeBox" value="10" id="10" onclick="select(event)">10</div>
            </div>
        </div>
        

        <div id="nextButton" class="button"  onclick="next(event)">Next</div>

        <input class="resetStyling button" style="visibility: hidden; background-color: #4062F6;"  id="submit" type="submit" value="Submit" onclick="submit(event)">
    </form>
        
    
    <script>
        let themeBlue = "#4062F6";
        let themeGrey = '#434861';
        let selected; // selected represents the id of the selected answer
        let currentPage = 0;
        let nextButton = document.getElementById('nextButton');
        let pink = "#F2547D";
        let blue = "#4062F6";
        let yellow = "#F5C26B";
        let green = "#4CC790"
        let purple = "#7940F6";
        let sections = ["categories", "difficulty", "length"]
        let sectionDiv = ["categoryDiv", "difficultyDiv", "lengthDiv"]


        function select(event){  
            if(selected !== undefined){
                document.getElementById(selected).style.backgroundColor = themeGrey;
            }
            selected = event.target.id; 
            event.currentTarget.style.backgroundColor = themeBlue;  

            if(currentPage === 0){
                document.getElementById('categoryName').value = document.getElementById(selected).textContent;
            }
            
            document.getElementById(sections[currentPage]).value = selected;
            nextButton.style.backgroundColor = themeBlue;
        }

        function next(event){
            if(selected === undefined) return
            if(currentPage <= 2){
                document.getElementById(sectionDiv[currentPage]).style.visibility = "hidden";
                currentPage++;
                submit();
                selected = undefined;
                nextButton.style.backgroundColor = themeGrey;
                document.getElementById(sectionDiv[currentPage]).style.visibility = "visible";
            }
        }

        function submit(){
            if(currentPage === 2){
                document.getElementById('submit').style.visibility = "visible";
                nextButton.style.visibility = "hidden";
            }
        }
    </script>
</body>
</html>
