<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quizApp/CSS/style.css' %}" type="text/css"/>
    <title>Question 1</title>
</head>
<body>  
    <div id="navBar"><h1 id="questionNumberText">{{categoryName}}, Question: <span id="questionNumber">1</span> / {{quizLength}}</h1></div>
    <div id="progressBars">
        <div class="container" id="timer">
            <h2>Time Remaining</h2>
            <svg width="200px" height="200px" viewBox="0 0 42 42" class="donut">
                <circle id="c1" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100 0" stroke-dashoffset="100"></circle>
                <circle id="c2" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="0 100" stroke-dashoffset="0"></circle>
                <g class="chart-text">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="counterText" font-size="0.6em">00</text>
                </g>
            </svg>
        </div>
        <div class="container" id="pointCounter">
            <h2>Total Score</h2>
            <svg width="200px" height="200px" viewBox="0 0 42 42" class="donut">
                <circle class="circle2" id="counterBackground" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100, 100"/>
                <circle class="circle" id="pointsCounter" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="0, 100"/>
                <g class="chart-text">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="points" font-size="0.6em">0</text>
                </g>
            </svg>
        </div>
    </div>
    <div id="accuracyBars">
        <div class="container" id="accuracy">
            <h2>Accuracy</h2>
            <svg width="200px" height="200px" viewBox="0 0 42 42" class="donut">
                <circle class="circle2" id="accuracyBackground" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100, 100"/>
                <circle class="circle" id="accuracyCounter" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="0, 100"/>
                <g class="chart-text">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="accuracyText" font-size="0.6em">0%</text>
                </g>
            </svg>
        </div>
        <div class="container">
            <h2>Correct</h2>
            <h1 id="correct">0</h1>
            <h2>Incorrect</h2>
            <h1 id="incorrect">0</h1>
        </div>
    </div>

    <div class="answerContainer" id="answerContainer">
        <h2 id="question">Loading...</h2>
        <strong><p class="option" id="option1" onclick="select(event)">Loading...</p></strong>
        <strong><p class="option" id="option3" onclick="select(event)">Loading...</p></strong>
        <strong><p class="option" id="option2" onclick="select(event)">Loading...</p></strong>
        <strong><p class="option" id="option4" onclick="select(event)">Loading...</p></strong>
        <div id="homeButton" onclick="goHome(event)" class="button">
            <strong><p>Home</p></strong>
        </div>
        <div id="nextButton" class="button">
            <strong><p id="nextButtonText">Next</p></strong>
        </div>
    </div>
    <h1 id="correctCountChange">+1</h1>
    <h1 id="incorrectCountChange">+1</h1>
    <h1 id="increaseScore" class="score">+100 Points</h1>
    <h1 id="decreaseScore" class="score">-50 Points</h1>


    <script>
        let quizLength = "{{quizLength}}";
        let difficulty = "{{difficulty}}";
        let category = "{{category}}";
    </script> 
    <script src="{% static 'quizApp/QuizJS/fetch.js' %}"></script>
    <script src="{% static 'quizApp/QuizJS/quiz.js' %}"></script>
    <script src="{% static 'quizApp/QuizJS/helper.js' %}"></script>
    <script src="{% static 'quizApp/QuizJS/animation.js' %}"></script>
</body>
</html>