<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quizApp/style.css' %}" type="text/css"/>
    <title>{{data.question}}</title>
</head>
<body>  
    <div id="navBar"><div id="questionNumberContainer"><h1 id="questionNumber">Question 1</h1></div></div>
    <div id="progressBars">
        <div class="container" id="timer">
            <h2>Time Remaining</h2>
            <svg width="200px" height="200px" viewBox="0 0 42 42" class="donut">
                <circle id="c1" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100 0" stroke-dashoffset="100"></circle>
                <circle id="c2" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="0 100" stroke-dashoffset="0"></circle>
                <g class="chart-text">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="counterText" font-size="0.6em">00</text>
                </g>
            </svg>
        </div>
        <div class="container" id="pointCounter">
            <h2>Total Score</h2>
            <svg width="200px" height="200px" viewBox="0 0 42 42" class="donut">
                <circle class="circle2" id="counterBackground" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100, 100"/>
                <circle class="circle" id="pointsCounter" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="0, 100"/>
                <g class="chart-text">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="points" font-size="0.6em">0</text>
                </g>
            </svg>
        </div>
    </div>
    <div id="accuracyBars">
        <div class="container" id="accuracy">
            <h2>Accuracy</h2>
            <svg width="200px" height="200px" viewBox="0 0 42 42" class="donut">
                <circle class="circle2" id="accuracyBackground" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100, 100"/>
                <circle class="circle" id="accuracyCounter" cx="21" cy="21" r="15.91549430918954" stroke-dasharray="100, 100"/>
                <g class="chart-text">
                    <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" id="accuracyText" font-size="0.6em">100%</text>
                </g>
            </svg>
        </div>
        <div class="container">
            <h2>Correct</h2>
            <h1 id="correct">0</h1>
            <h2>Incorrect</h2>
            <h1 id="incorrect">0</h1>
        </div>
    </div>

    <div class="answerContainer" id="answerContainer">
        <h2 id="question">Loading...</h2>
        <strong><p class="option" id="option1" onclick="select(event)">Loading...</p></strong>
        <strong><p class="option" id="option3" onclick="select(event)">Loading...</p></strong>
        <strong><p class="option" id="option2" onclick="select(event)">Loading...</p></strong>
        <strong><p class="option" id="option4" onclick="select(event)">Loading...</p></strong>
        <div id="homeButton" onclick="history.back()" class="button">
            <strong><p>Home</p></strong>
        </div>
        <div id="nextButton" class="button">
            <strong><p id="nextButtonText">Next</p></strong>
        </div>
    </div>
    <h1 id="correctCountChange">+1</h1>
    <h1 id="incorrectCountChange">+1</h1>
    <h1 id="increaseScore" class="score">+100 Points</h1>
    <h1 id="decreaseScore" class="score">-50 Points</h1>
    <script>
        let nextButton = document.getElementById('nextButton');
        let homeButton = document.getElementById('homeButton');
        let themeBlue = "#4062F6";
        let themeGrey = '#434861';
        let points = 0;
        let questionNumber = 1;
        let counter = 1; // starts at one because the initial page creation calls loadQuiz(0)
        let correctCount = 0;
        let incorrectCount = 0;
        let selected; // selected represents the id of the selected answer
        let correctAnswer; 
        let triviaData = []; // array of objects from JSON

        if("{{category}}"=== "all"){
            getQuizAPI(`https://the-trivia-api.com/api/questions?&limit=${"{{quizLength}}"}&difficulty=${"{{difficulty}}"}`);        
        }
        else{
            getQuizAPI(`https://the-trivia-api.com/api/questions?categories=${"{{category}}"}&limit=${"{{quizLength}}"}&difficulty=${"{{difficulty}}"}`);
        }

        // fetches a given url
        // parses JSON from url and adds it to the trivia data array
        // start timer
        function getQuizAPI(url){
            fetch(url)
            .then(response => response.json())
            .then(json => {
                triviaData.length = 0;
                for(question of json){
                    triviaData.push(question);
                }
                startTimer("{{quizLength}}" * 3);
                loadQuiz(0);
                quizLoop();
            })
            .catch(error => console.log(error));
        }

        // given an index, the data from the triviaData array is used to update UI of the project
        // The correct answer is stored in a global variable to be used elsewhere 
        function loadQuiz(index){
            let data = triviaData[index];
            correctAnswer = data.correctAnswer;
            document.getElementById('question').textContent = data.question;
            document.getElementById('option1').textContent = data.correctAnswer;
            document.getElementById('option2').textContent = data.incorrectAnswers[0];
            document.getElementById('option3').textContent = data.incorrectAnswers[1];
            document.getElementById('option4').textContent = data.incorrectAnswers[2];
        }

        // Each time next is clicked, the next index of the triviaData array is parsed
        // UI is updated accordingly
        // If the last index is reached, then the next button becomes a 'results' button
        // This sends JSON to the results page of all the results data
        function quizLoop(){
            nextButton.addEventListener('click', () =>{
                document.getElementById(selected).style.backgroundColor = themeGrey;
                nextButton.style.backgroundColor = themeGrey;
                if(counter < (triviaData.length - 1)){
                    quizCounter();
                }else if(counter === (triviaData.length - 1)){
                    quizCounter();
                    document.getElementById('nextButtonText').textContent = "Results";
                }else{
                    // TODO: go to the results page with the data of all the results passed in
                    isCorrect();
                    count();
                    accuracy();
                    alert("total correct amount: " + correctCount)
                }
            });
        }

        // Checks if the selected question is correct
        // updates point count UI 
        // Then loads the next quiz question and updates the main counter
        function quizCounter(){
            isCorrect();
            document.getElementById('questionNumber').textContent = `Question ${++questionNumber}`;
            count();
            accuracy();
            selected = undefined;
            loadQuiz(counter);
            counter++;   
        }

        // Keeps track of which answer was selected
        // If no answer was selected, then the current event target is set to the selected element
        // Enables the next button to be used
        function select(event){  
            // If there was a previously selected element then it is deselected   
            if(selected !== undefined){
                document.getElementById(selected).style.backgroundColor = themeGrey;
            }
            selected = event.target.id; // current event target is set as the selected element
            event.currentTarget.style.backgroundColor = themeBlue;    
            nextButton.style.backgroundColor = themeBlue;
        }

        // verifies if questions are correct and adds these values to a total 
        // updates the point tally accordingly 
        function isCorrect(){
            if(selected === undefined){ return; }
            if(document.getElementById(selected).textContent === correctAnswer){
                correctCount++;
                points += 100;
                triggerDifference('correctCountChange', 'correct', 'toGreen');
                triggerDifference('increaseScore', 'points', 'toPurple')
                document.getElementById('points').textContent = points;
                document.getElementById('correct').textContent = correctCount;
            }else{
                incorrectCount++;
                points -= 50;
                triggerDifference('decreaseScore', 'points', 'toRedFill');
                triggerDifference('incorrectCountChange', "incorrect", 'toRed');
                document.getElementById('points').textContent = points;
                document.getElementById('incorrect').textContent = incorrectCount;
            }
        }

        function triggerDifference(id, textId, animationType){
            let element = document.getElementById(id);
            let count = document.getElementById(textId);
            element.style.visibility = "visible";
            element.style.animation="fade 2s infinite";
            count.style.animation = `${animationType} 2s infinite`;
            setTimeout(function (){
                element.style.visibility = "hidden";
                element.style.animation="none";
                count.style.animation = "none";
            },1200)
        }
        // runs timer given a start duration
        // based on the time, a strokeDasharray is updated accordingly
        // each second that passes, 5 points are deducted
        function startTimer(duration) {
            var timeout = setTimeout(function () {
                var time = duration;
                var i = 1;
                var k = ((i/duration) * 100);
                var l = 100 - k;
                i++;
                document.getElementById("c1").style.strokeDasharray = [l,k];
                document.getElementById("c2").style.strokeDasharray = [k,l];
                document.getElementById("c1").style.strokeDashoffset = l;
                document.getElementById("counterText").innerHTML = duration;
                var interval = setInterval(function() {
                    if (i > time) {
                        clearInterval(interval);
                        clearTimeout(timeout);
                        return;
                    }
                    k = ((i/duration) * 100);
                    l = 100 - k;
                    document.getElementById("c1").style.strokeDasharray = [l,k];
                    document.getElementById("c2").style.strokeDasharray = [k,l];
                    document.getElementById("c1").style.strokeDashoffset = l;
                    document.getElementById("counterText").innerHTML = (duration +1)-i;
                    points -= (5 + incorrectCount);
                    document.getElementById('points').textContent = points;
                    i++;
                    count();
                }, 1000);
            },0);
        } 

        // changes the points counter by taking the total points and dividing by the total points possible
        // this updates the strokeDasharray
        function count(){
            let percentage = (points / ("{{quizLength}}" * 100)) * 100;
            document.getElementById('pointsCounter').style.strokeDasharray = [percentage, 100];
        }

        function accuracy(){
            let total = correctCount + incorrectCount;
            let percentage = (correctCount / total) * 100;
            document.getElementById('accuracyCounter').style.strokeDasharray = [percentage, 100];
            document.getElementById('accuracyText').textContent = `${Math.ceil(percentage)}%`;
        }
    </script>
</body>
</html>